.video-frame{
    width:600px;
    aspect-ratio:16/9;
    background-color:#ccc;
    overflow:hidden;
    position:relative;
  }
  
  .thumbnail{
    position:absolute;
    width:100%;
    height:100%;
    object-position:50% 50%;
    object-fit:cover;
    cursor:pointer;
  }
  .video{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }